{{> head}}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h2>HorseMan</h2>
            <p>fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/horse.jpg" alt="img-thubnail">
    </div>
</div>
{{> footer }}

